<button mat-raised-button (click)="goToAdd()">Add</button>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="projectName">
      <th mat-header-cell *matHeaderCellDef>Project Name</th>
      <td mat-cell *matCellDef="let element">{{ element.projectName }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="projectDescription">
      <th mat-header-cell *matHeaderCellDef>Project Description</th>
      <td mat-cell *matCellDef="let element">
        {{ element.projectDescription }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="totalEstimate">
      <th mat-header-cell *matHeaderCellDef>Total Estimate</th>
      <td mat-cell *matCellDef="let element">{{ element.totalEstimate }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>actions</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-raised-button
          color="primary"
          (click)="editproject(element.id)"
        >
          Edit</button
        >&nbsp;
        <button
          mat-raised-button
          color="warn"
          (click)="deleteproject(element.id)"
        >
          Delete
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
